<div class="Container">
  <!-- page header -->
  {% include "header.html" with title="Assignment" %}

  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">{{assignment.title}}</span>
      <div class="horizonalLine"></div>
      Due {{assignment.deadline}}, total of {{assignment.points}} {% if assignment.points != 1 %}points{% else %}point{% endif %}
    </div>

    <!-- Student submissions box -->
    <aside>
      {% if sub == "" %}
      <p>No Current Submission</p>
      {% else %}
      <p>Current Submission: {{sub}}</p>
      {% endif %}
      <form method="post" action="/{{id}}/">
        {% csrf_token %}
        <label for="submission">Submit:</label>
        <input
          type="file" 
          name="submission"
          enctype="multipart/form-data"/>
        <button>Submit</button>
      </form>
    </aside>
  
    <!-- TA submissions box -->
    <aside>
      <p>Currently {{totalSubmissions}}/{{totalStudents}} {% if totalStudents != 1 %}submissions{% else %}submission{% endif %}</p>
      <p>
        {{totalAssigned}} {% if totalAssigned != 1 %}submissions{% else %}submission{% endif %} assigned to you <a href="/{{assignment.id}}/submissions">Grade</a>
      </p>
    </aside>
  
    <!-- description -->
    <h4>Description</h4>
    {{assignment.description | safe}}
    
    <img
    src="/static/assignments.png"
    alt="an image of the assignments page. The page includes a list of all assignments, their due dates, and thier weights. "
    />
  </main>
</div>