<div class="Container">
  <!-- page header -->
  {% include "header.html" with title="Assignment" %}

  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">{{assignment.title}}</span>
      <div class="horizonalLine"></div>
      Due {{assignment.deadline}}, total of {{assignment.points}} point{{ assignment.points|pluralize }}
    </div>

    {% if isStudent %}
    <!-- Student submissions box -->
    <aside>
      <p>{{ status }}</p>
      {% if ontime %}
      <form class="assignment-form" method="post" action="/{{id}}/" enctype="multipart/form-data">
        {% csrf_token %}
        {% if errors %}
        <output>
          {% for e, msg in errors.items %}
            {{ msg }}
          {% endfor %}
        </output>
        {% endif %}
        <label for="submission">Submit:</label>
        <input
          type="file" 
          name="submission"
          id="submission"
          />
        <button type="submit">Submit</button>
      </form>
      {% endif %}
    </aside>
    {% else %}
    <!-- TA submissions box -->
    <aside>
      <p>Currently {{totalSubmissions}}/{{totalStudents}} submission{{ totalStudents|pluralize }}</p>  
      <p>{% if not isAdmin %}{{totalAssigned}} submission{{ totalAssigned|pluralize }} assigned to you {% endif %}<a href="/{{assignment.id}}/submissions">Grade</a></p>
    </aside>
    {% endif %}
    <!-- description -->
    <h4>Description</h4>
    {{assignment.description|safe}}
    
    <img
    src="/static/assignments.png"
    alt="an image of the assignments page. The page includes a list of all assignments, their due dates, and thier weights. "
    />
  </main>
</div>