<!DOCTYPE html>
<head>
  <title>{{title}} - CS 3550</title>

  <!-- meta and link tags -->
  <meta charset="utf8" />
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/main.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans"
  />
</head>

<!-- page header -->
<header>
<!-- navigation bar -->
<nav>
    <div class="NavContainer">
    <div class="NavDiv">
        <span>CS 3550</span>
        <a href="/">Assignments</a>
    </div>
    <a href="/profile/">Profile</a>
    </div>
</nav>
</header>
