<div class="Container">
  <!-- page header -->
  {% include "header.html" with title="Assignments" %}
  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">All assignments</span>
      <div class="horizonalLine"></div>
    </div>
  
    <!-- Assignments table -->
    <table class="sortable">
      <thead>
        <tr>
          <th>Assignment</th>
          <th class="sort-column">Due Date</th>
          <th class="tableNum sort-column">Weight</th>
        </tr>
      </thead>
      {% for a in assignments %}
        <tr>
          <td><a href={{a.id}}>{{a.title}}</a></td>
          <td data-value={{ a.deadline|date:"U" }}>{{a.deadline|date:"M d"}}</td>
          <td data-value={{ a.deadline|date:"U" }} class="tableNum">{{a.weight}}</td>
        </tr>
      {% endfor %}
    </table>
</div>
</main>
