<!DOCTYPE html>
<head>
  <title>Assignments - CS 3550</title>

  <!-- meta and link tags -->
  <meta charset="utf8" />
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/main.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans"
  />
</head>


<div class="Container">
  <!-- page header -->
  <header>
    <!-- navigation bar -->
    <nav>
      <div class="NavContainer">
        <div class="NavDiv">
          <span>CS 3550</span>
          <a href="index.html">Assignments</a>
        </div>
        <a href="profile.html">Profile</a>
      </div>
    </nav>
  </header>
  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">All assignments</span>
      <div class="horizonalLine"></div>
    </div>
  
    <!-- Assignments table -->
    <table>
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Due Date</th>
          <th class="tableNum">Weight</th>
        </tr>
      </thead>
      {% for a in assignments %}
        <tr>
          <td><a href={{a.id}}>{{a.title}}</a></td>
          <td>{{a.deadline}}</td>
          <td class="tableNum">{{a.weight}}</td>
        </tr>
      {% endfor %}
    </table>
</div>
</main>
