<div class="Container">
  <!-- page header -->
  {% include "header.html" with title="Assignments" %}
  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">All assignments</span>
      <div class="horizonalLine"></div>
    </div>
  
    <!-- Assignments table -->
    <table>
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Due Date</th>
          <th class="tableNum">Weight</th>
        </tr>
      </thead>
      {% for a in assignments %}
        <tr>
          <td><a href={{a.id}}>{{a.title}}</a></td>
          <td>{{a.deadline}}</td>
          <td class="tableNum">{{a.weight}}</td>
        </tr>
      {% endfor %}
    </table>
</div>
</main>
