<div class="Container">
  <!-- page header -->
  {% include "header.html" with title="Login" %}

  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">Log in</span>
      <div class="horizonalLine"></div>
    </div>
    <form method="post" action="/profile/login/">
      {% csrf_token %}
      <div class="loginContainer">
        <div class="inputGroup">
          <label class="loginText" for="username" autofocus>Username: </label>
          <input class="loginText" name="username" type="text"/>
        </div>
        <div class="inputGroup">
          <label class="loginText" for="password">Password: </label>
          <input class="loginText" name="password" type="password"/>
        </div>
        <div class="loginButton">
          <button class="loginText">Log In</button>
        </div>
      </div>
    </form>
  </main>
</div>
