<!DOCTYPE html>
<head>
  <title>Login - CS 3550</title>

  <!-- meta and link tags -->
  <meta charset="utf8" />
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/main.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans"
  />
</head>

<div class="Container">
  <!-- page header -->
  <header>
    <!-- navigation bar -->
    <nav>
      <div class="NavContainer">
        <div class="NavDiv">
          <span>CS 3550</span>
          <a href="index.html">Assignments</a>
        </div>
        <a href="profile.html">Profile</a>
      </div>
    </nav>
  </header>

  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">Log in</span>
      <div class="horizonalLine"></div>
    </div>
    <form>
      <div class="loginContainer">
        <div class="inputGroup">
          <label class="loginText" for="username" autofocus>Username: </label>
          <input class="loginText" id="username" />
        </div>
        <div class="inputGroup">
          <label class="loginText" for="password">Password: </label>
          <input class="loginText" id="password" />
        </div>
        <div class="loginButton">
          <button class="loginText">Log In</button>
        </div>
      </div>
    </form>
  </main>
</div>
