{% load custom_filters %}
<div class="Container">
  <!-- page header -->
  {% include "header.html" with title="Profile" %}

  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">Your Grades</span>
      <div class="horizonalLine"></div>
    </div>
    
      <!-- popout box for who is logged in -->
      <aside>
        Currently logged in as {{user.get_full_name}} <a href="/profile/logout/" role="button">Log out</a>
      </aside>
    
      <!-- Graded assignmetns table -->
      <table class="sortable">
        <thead>
          <tr>
            <th>Assignment</th>
            <th class="tableNum sortable">Graded</th>
          </tr>
        </thead>
        <tbody>
          {% for a in assignments %}
          <tr>
            <td>
              <a href="/{{a.id}}/" title={{a.title}}>{{a.title}}</a>
            </td>
            <td class="tableNum" data-index={{ forloop.counter }}>
              {% if isStudent %}
              {{ assignmentStatus|get_value:a.id }}
              {% else %}
              {{ totalGraded|get_value:a.title }}/{{ totalAssigned|get_value:a.title }}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% if isStudent %}
        <tfoot>
          <tr>
            <td>Final Grade</td>
            <td class="tableNum">{{ assignmentStatus.final_grade }}</td>
          </tr>
        </tfoot>
        {% endif %}
    </table>
</main>
</div>
