<div class="Container">
  <!-- page header -->
  {% include "header.html" with title="Submissions" %}

  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">{{assignment.title}}</span>
      <div class="horizonalLine"></div>
      All grades out of {{assignment.weight}}
    </div>

    <!-- student submissions table -->
    <form method="post" action="/{{id}}/submissions/">
    {% csrf_token %}
    <div class="submissionsDiv">
      <table>
          <thead>
            <tr>
              <th>Student</th>
              <th>Submission</th>
              <th>Grade</th>
            </tr>
          </thead>
          {% for subs in userSubmissions %}
          <tr>
            <label for="grade-{{subs.id}}"><td>{{subs.author.get_full_name}}</td></label>
            <td><a href="/uploads/{{subs.file}}/" title="View Submission">Submission</a></td>
            <td>
              <input 
                type="number" 
                name="grade-{{subs.id}}" 
                value="{{subs.score}}"
                min="0"
                max={{assignment.weight}}
                step="0.01"/>
            </td>
            <td>
              {% for e, msg in errors.items %}
                {% if e|stringformat:"s" == subs.id|stringformat:"s" %}
                <output>Error: {{msg}}</output>
                {% endif %}
              {% endfor %}
            </td>
            </tr>
            {% endfor %}
        </table>
        <div>
          <button id="submit">Submit</button>
          <a href="/{{id}}/">Back to assignment</a>
        </div>
      </div>
    </form>
  </main>
</div>
