<div class="Container">
  <!-- page header -->
  {% include "header.html" with title="Submissions" %}

  <!-- main page -->
  <main>
    <div>
      <span class="pageTitle">{{assignment.title}}</span>
      <div class="horizonalLine"></div>
      All grades out of {{assignment.weight}}
    </div>

    <!-- student submissions table -->
    <form method="post" action="/{{id}}/submissions/">
      {% csrf_token %}
      <div class="submissionsDiv">
        <table>
        <thead>
            <tr>
              <th>Student</th>
              <th>Submission</th>
              <th>Grade</th>
            </tr>
          </thead>
          {% for subs in userSubmissions %}
          <tr>
            <label for="s1Grade"><td>{{subs.author.get_full_name}}</td></label>
            <td><a href="{{subs.file}}" title="View Submission">Submission</a></td>
            <td>
              <input type="number" id="s1Grade" value="{{subs.score}}"/>
            </td>
          </tr>
          {% endfor %}
        </table>
        <div>
          <button id="submit">Submit</button>
          <a href="/{{id}}/">Back to assignment</a>
        </div>
      </div>
    </form>
  </main>
</div>
