/* Phase 2 rules */
* { 
    font-family: "IBM Plex Sans";
    line-height: 1.25rem; 
  }

code { font-family: "IBM Plex Mono"; }

table { 
    line-height: 1.5rem; 
    /* phase 3 rules */
    width: 100%;
    text-align: left;
}

nav { 
    font-size: 1.25rem; 
    background-color: gray;
    box-shadow: 0px 0px 5px gray;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    a { 
        color: #444;
        text-decoration: none;
    }
    a:hover { 
        text-decoration: underline; 
    }
    span { 
        font-weight: bold; 
        color: black;
    }
}    

.pageTitle { 
    font-size: 1.50em;
}

.login { font-size: 1.25em;}

/* phase 3 rules */
.tableNum {
    text-align: right;
}

.loginDiv {
    display: flex;
    flex-direction: column;
    button {
        justify-content: center;
        width: 50%;
    }
}

.loginForm {
    padding: 1rem;
    width: 50%;
    flex-direction: row;
}

aside {
    border: 3px solid #204a87;
    background-color: #b1c3de;
    padding: 5px;
    a {
        float: right;
    }
}

main {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.horizonalLine {
    width: 100%; /* Full width */
    height: 1px; /* Thickness */
    background-color: gray; /* Color */
    margin: .5rem 0; /* Vertical spacing */
}